/*
font-family: 'Ultra', serif;
font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Stint Ultra Condensed', cursive;
font-family: 'Slabo 13px', serif;
*/

html {
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 10px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.nav {
	background-color: rgba(0,0,0,0.3);
	color: #E3DEDB; /*lightgrey*/
	display: flex;
	font-size: 20px;
	height: 65px;
	position: relative;
    z-index: 2;
}
nav div {
	height: 100%;
}
.account {
	width: 100%;
}
.account div {
	align-items: center;
	cursor: pointer;
	display: flex;
	float: right;
	padding: 0 20px;
}
.account div:hover {
	color: #FDFABC; /*lightyellow*/
}

.logo {
	display: flex;
}
.logo div {
	align-items: center;
	display: flex;
	padding: 0 20px;
}

.content {
	position: absolute;
	top: 0;
	width: 100vw;
}

.hero-img {
	background: url('/running.jpg') no-repeat;
	background-position: center;
	height: 100vh;
}

.about {
	background-color: #F7F7F7; /*offwhite*/
}

.about .info-block {
	align-items: center;
	color: #FFFFFF;
	display: flex;
	flex-direction: row;
	font-size: 22px;
	height: 75vh;
	justify-content: space-between;
	padding: 50px;
}

.constrict-width {
	width: 80vw;
}

.info-block.right {
	display: flex;
    justify-content: flex-end;
}

.info-block .constrict-width {
	display: flex;
	align-items: center;

}

.info-block.main {
	background-color: #F7F7F7;
	color: #555555;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-block h1 {
	font-family: 'Stint Ultra Expanded', cursive;
	margin: 0;
}

.info-block.main p {
	width: 50vw;
}

.info-block p {
	font-family: 'Slabo 13px', serif;
	letter-spacing: 0.8px;
    line-height: 30px;
}

.info-block:nth-child(2) {
	background-color: #2DC9D7;
}

.info-block:nth-child(3) {
	background-color: #AAAAAA;
}

.info-block:last-child {
	background-color: #FA6900;
}

.align-left {
	float:left;
	margin-right:10vw;
}

.align-right {
	float:right;
	margin-left:10vw;
}

.slide-in {
	opacity:0;
	transition:all .4s;
}

.align-left.slide-in {
	transform:translateX(-30%) scale(0.75);
}
.align-right.slide-in {
	transform:translateX(30%) scale(0.75);
}

.slide-in.active {
	opacity:1;
	transform:translateX(0%) scale(1);
}

footer {
	height: 10vh;
	background-color: #2B2B29;
}

