<!DOCTYPE html>
<html>
<head>
	<title>My Race Wall</title>
	<link href="https://fonts.googleapis.com/css?family=Slabo+13px|Stint+Ultra+Condensed|Stint+Ultra+Expanded|Ultra" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>

<nav class="nav">
	<div class="logo">
		<div>LOGO</div>
	</div>
	<div class="account">
		<div class="login">Login</div>
		<div class="create">Create Account</div>
	</div>
</nav>

<div class="content">
	<div class="hero-img"></div>
	<div class="about">
		<div class="info-block main">
			<h1>What is MyRaceWall?</h1>
			<p>MyRaceWall is a new way to keep track of your past races. Whenever you complete a race event store a virtual record of it to look back on later or share it with your friends immediately.</p>
		</div>
		<div class="info-block">
			<div class="constrict-width">
				<img src="http://unsplash.it/300/300" class="align-left slide-in" />
				<div>
					<h2>Words word words</h2>
					<p>
						Lorem ipsum Nisi laboris consectetur eu enim sunt pariatur. Lorem ipsum Eu ad ullamco mollit anim aliqua sint Duis occaecat cillum et.
					</p>
				</div>
			</div>
		</div>
		<div class="info-block right">
			<div class="constrict-width">
				<div>
					<h2>Words word words</h2>
					<p>
						Lorem ipsum Nisi laboris consectetur eu enim sunt pariatur. Lorem ipsum Eu ad ullamco mollit anim aliqua sint Duis occaecat cillum et.
					</p>
				</div>
				<img src="http://unsplash.it/300/300" class="align-right slide-in" />
			</div>
		</div>
		<div class="info-block">
			<div class="constrict-width">
				<img src="http://unsplash.it/300/300" class="align-left slide-in" />
				<div>
					<h2>Words word words</h2>
					<p>
						Lorem ipsum Nisi laboris consectetur eu enim sunt pariatur. Lorem ipsum Eu ad ullamco mollit anim aliqua sint Duis occaecat cillum et.
					</p>
				</div>
			</div>
		</div>
	</div>
	<footer></footer>
</div>

<script src="home.js"></script>
</body>
</html>