<!DOCTYPE html>
<html>
<head>
	<title>My Race Wall</title>
	<link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>

<nav class="nav">
	<div class="logo">
		<div>LOGO</div>
	</div>
	<div class="account">
		<div class="login">Login</div>
		<div class="create">Create Account</div>
	</div>
</nav>

<div class="content">
	<div class="hero-img"></div>
	<div class="about">
		<div class="info-block">
			<h1>Who we are</h1>
			<p>Lorem ipsum Consectetur eiusmod ad exercitation ut laboris commodo voluptate magna labore.</p>
		</div>
		<div class="info-block">
			<div class="constrict-width">
				<img src="http://unsplash.it/200/500" class="align-left slide-in" />
				<p>
					Lorem ipsum Nisi laboris consectetur eu enim sunt pariatur. Lorem ipsum Eu ad ullamco mollit anim aliqua sint Duis occaecat cillum et. Lorem ipsum Consequat quis pariatur magna do nostrud eu mollit mollit minim incididunt. Lorem ipsum Esse sed aliquip minim elit mollit non. Lorem ipsum Qui elit voluptate dolor fugiat exercitation Ut. Lorem ipsum Pariatur quis ex aliqua esse est consectetur.
				</p>
			</div>
		</div>
		<div class="info-block right">
			<div class="constrict-width">
				<p>
					Lorem ipsum Nisi laboris consectetur eu enim sunt pariatur. Lorem ipsum Eu ad ullamco mollit anim aliqua sint Duis occaecat cillum et. Lorem ipsum Consequat quis pariatur magna do nostrud eu mollit mollit minim incididunt. Lorem ipsum Esse sed aliquip minim elit mollit non. Lorem ipsum Qui elit voluptate dolor fugiat exercitation Ut. Lorem ipsum Pariatur quis ex aliqua esse est consectetur.
				</p>
				<img src="http://unsplash.it/200/500" class="align-right slide-in" />
			</div>
		</div>
		<div class="info-block">
			<div class="constrict-width">
				<img src="http://unsplash.it/200/500" class="align-left slide-in" />
				<p>
					Lorem ipsum Nisi laboris consectetur eu enim sunt pariatur. Lorem ipsum Eu ad ullamco mollit anim aliqua sint Duis occaecat cillum et. Lorem ipsum Consequat quis pariatur magna do nostrud eu mollit mollit minim incididunt. Lorem ipsum Esse sed aliquip minim elit mollit non. Lorem ipsum Qui elit voluptate dolor fugiat exercitation Ut. Lorem ipsum Pariatur quis ex aliqua esse est consectetur.
				</p>
			</div>
		</div>
	</div>
</div>
<script src="home.js"></script>
</body>
</html>